<div class="container-fluid">

    <div class="aboutus">

        <div class="headings text-center">
            <h2>ABOUT US</h2>
        </div>
        
        <div class="content">
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Adipisci, quod vel! Fugit necessitatibus quis quos neque
                voluptatibus eum inventore impedit consectetur non,
                corrupti ducimus velit nulla distinctio porro cumque rem!</p>
        
        </div>

        <div class="contactus text-center">
            <h2>CONTACT US</h2>
        </div>

    </div>

</div>