/* Title and int's introductory part styles */
.top{
    margin-top: 3%;
}

.top p{
    width:90%;
    padding-left: 1%;
}

.top h2{
    color: green;
    text-decoration: underline green 4px;
}

/* Container section for structures styles sections  */

.structures{
    margin-top: 3%;
}

/* Left structures styles */

.leftH4{
    color: brown;
    text-decoration:underline 4px brown;
}

/* Right side structures universal styles */

.rightH4{
    color: brown;
    float: right;
    text-decoration: underline brown 4px;
}