/* Title and int's introductory part styles */
.top{
    margin-top: 3%;
}

.top p{
    width:90%;
    padding-left: 1%;
}

.top h2{
    color: green;
    text-decoration: underline green 4px;
}

/* Container section for structures styles sections  */

.structures{
    margin-top: 3%;
    width: 70%;
    margin: auto;
}

/* Left structures styles */

.leftH4{
    color: brown;
    text-decoration:underline 4px brown;
    padding-bottom: 1%;
}

/* Right side structures universal styles */

.rightH4{
    color: brown;
    float: right;
    text-decoration: underline brown 4px;
    padding-bottom: 1%;
}

.structures img{
    width: 75%;
    margin: auto;
    height: auto;
}

.row{
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 1px solid brown;
}

.structures p{
    padding-top: 5%;
}

.right img{
    float: right;
}