<div class="container-fluid">

    <div class="top">

        <h2>STRUCTURES</h2>
        <hr class="topHR">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Unde laboriosam accusamus et facilis amet placeat commodi
              corrupti maiores ullam, nostrum distinctio ducimus eum, 
              culpa perspiciatis reprehenderit quod tempore ipsum repudiandae.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Unde laboriosam accusamus et facilis amet placeat commodi
            corrupti maiores ullam, nostrum distinctio ducimus eum,
            culpa perspiciatis reprehenderit quod tempore ipsum repudiandae.</p>

    </div>

    <div class="container structures">

        <div class="row">

            <h4 class="rightH4">Shades</h4>
            <hr class="rightHR">

            <div class="col">

            </div>

            <div class="col">

            </div>

        </div>

    </div>


</div>