<div class="container-fluid">

    <div class="top">

        <h2>STRUCTURES</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Unde laboriosam accusamus et facilis amet placeat commodi
              corrupti maiores ullam, nostrum distinctio ducimus eum, 
              culpa perspiciatis reprehenderit quod tempore ipsum repudiandae.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Unde laboriosam accusamus et facilis amet placeat commodi
            corrupti maiores ullam, nostrum distinctio ducimus eum,
            culpa perspiciatis reprehenderit quod tempore ipsum repudiandae.</p>

    </div>

    <div class="container structures">

        <!-- Shade structure code  -->

        <div class="row">

            <h4 class="leftH4">Shades</h4>

            <div class="col">

                <img src="assets/images/structures/Shade.jpg" height="200" alt="Shade image">

            </div>

            <div class="col">

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                     Dolores nesciunt id totam, expedita est cumque ipsam 
                     laudantium ratione rem itaque reprehenderit aspernatur!</p>

            </div>

        </div>

        <!-- Conference hall code  -->
        <div class="row">
        
            <div class="rightHeadings">

                <h4 class="rightH4">Conference Hall/Room</h4>

            </div>
        
            <div class="col">

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                    Dolores nesciunt id totam, expedita est cumque ipsam
                    laudantium ratione rem itaque reprehenderit aspernatur!</p>
            
            </div>
            
            <div class="col">

                <img src="assets/images/structures/Conference hall.jpg" height="200" alt="Conference room image">
            
            </div>
        
        </div>

        <!-- Culture Centre code  -->

        <div class="row">
        
            <h4 class="leftH4">Culture Center</h4>
        
            <div class="col">
            
                <img src="assets/images/structures/Culture center.jpg" height="200" alt="Culture center image">
            
            </div>
            
            <div class="col">
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                    Dolores nesciunt id totam, expedita est cumque ipsam
                    laudantium ratione rem itaque reprehenderit aspernatur!</p>
            
            </div>
        
        </div>

        <!-- Main Gate centre code -->
        
        <div class="row">
        
            <div class="rightHeadings">
        
                <h4 class="rightH4">Main Gate</h4>
        
            </div>
        
            <div class="col">
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                    Dolores nesciunt id totam, expedita est cumque ipsam
                    laudantium ratione rem itaque reprehenderit aspernatur!</p>
            
            </div>
            
            <div class="col">
            
                <img src="assets/images/structures/Main Gate.jpg" height="200" alt="Main Gate image">
            
            </div>
        
        </div>

        <!-- Accomondations code  -->
        
        <div class="row">
        
            <h4 class="leftH4">Accomondations</h4>
        
            <div class="col">
            
                <img src="assets/images/structures/Accommondations.jpg" height="200" alt="Accomondations image">
            
            </div>
            
            <div class="col">
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                    Dolores nesciunt id totam, expedita est cumque ipsam
                    laudantium ratione rem itaque reprehenderit aspernatur!</p>
            
            </div>
        
        </div>
        
        <!-- Writtings code -->
        
        <div class="row">
        
            <div class="rightHeadings">
        
                <h4 class="rightH4">Writtings</h4>
        
            </div>
        
            <div class="col">
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Animi enim ducimus recusandae inventore! Modi, quia dolores.
                    Dolores nesciunt id totam, expedita est cumque ipsam
                    laudantium ratione rem itaque reprehenderit aspernatur!</p>
            
            </div>
            
            <div class="col">
            
                <img src="assets/images/structures/Writtings.jpg" height="200" alt="Writtings image">
            
            </div>
        
        </div>

    </div>

</div>