<div class="container">

    <div class="topPage">

        <div class="text-center">

            <h2>GALLERY</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                In ab quisquam officiis accusamus sit sunt eveniet, aut
                rerum sequi delectus veritatis fuga qui cupiditate quod
                incidunt odit earum mollitia. Voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                In ab quisquam officiis accusamus sit sunt eveniet, aut
                rerum sequi delectus veritatis fuga qui cupiditate quod
                incidunt odit earum mollitia. Voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                In ab quisquam officiis accusamus sit sunt eveniet, aut
                rerum sequi delectus veritatis fuga qui cupiditate quod
                incidunt odit earum mollitia. Voluptatum.
            </p>

        </div>

    </div>

    <!-- Pics section -->
    <div class="pics">

        <div class="row">

            <div class="col-12">
                <img src="" alt="top pic frame">
            </div>
            
        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="" alt="column two pic">
            </div>

        </div>
        
    </div>

</div>