/* Navbar stylings */
.navbar{
    background-color: green;
    width: 100%;
    padding-left: 15%;
}

.navbar a{
    color:white;
    font-size: 22px;
}

.rigthLinks{
    padding-left: 35%;
}

.one, .two, .three, .four{
    padding-left: 25px !important;
    font-weight: bold;
}

nav a :hover{
    color: yellow;
}

.rigthLinks a:hover{
    color: yellow;
    font-size: 25px;
}