/* Intorduction part with the background image */
.mainHr{
    width: 35%;
    margin: auto;
    color:brown;
    background: brown;
    height: 0.2rem;
}

.introduction p{
    font-size: 20px;
    padding-left: 35%;
    padding-top: 10px;
}

.introRow{
    height: 550px;
    background: url("/assets/images/home/Gate-bg.jpg") fixed;
}

.introduction{
    padding-top: 300px;
    color: white;
    font-weight: 900;
}

/* About KOS section styles */
.aboutKOS{
    padding: 25px;
    padding-top:40px;
    background-color:rgb(197, 202, 206);
    text-align: center;
    /* width: 85%;
    margin: auto; */
    margin-top: 30px;
}

.aboutKOSflex{
    display: flex;
}

h2{
    color: green;
}

.headHR{
    width: 20%;
    margin: auto;
    color: green;
    background: green;
    height: 3px;
}

.aboutKOS p{
    padding-top: 20px;
}

.homeBTN{
    font-size: 20px;
    padding: 10px;
    color:white ;
    background-color: green;
    border-radius: 45px;
    font-weight: 600;
    margin-top: 25%;
}

.buttons button:hover{
    background-color: green;
    color: white;
    font-size:21px;
    padding: 12px;
}

.aboutKOShr {
  width: 100%;
  margin: auto;
  margin-top: 90%;
  margin-bottom: 0;
  transform: rotate(90deg);
  border-color: #000000;
}