<div class="container-fluid">

    <!-- <h2 class="text-center">Kipsigis Oasis Sanctuary</h2>
    <hr class="mainHr"> -->

    <!-- Name with the background image section -->
    <div class="row introRow">

        <div class="col-md-1">

        </div>

        <div class="col-md-5 introduction">

            <h3 class="text-center">Kipsigis Oasis Sanctuary and Culture</h3>
            <hr class="mainHr">
            <p>Wildlife and Culture conservation site.</p>

        </div>

        <div class="col-md-6">

        </div>

    </div>

    <!-- About KOS Section -->

    <div class="aboutKOS container">

        <h2 class="text-center">About KOS</h2>
        <hr class="headHR">

        <div class="row aboutKOSflex">

            <div class="col-md-9 wordings">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam nisi,
                    quaerat consequatur neque odit quidem omnis pariatur impedit incidunt
                    dignissimos eligendi quasi ipsum asperiores molestias voluptates nam. Quos,
                    doloribus?
            
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam nisi,
                    quaerat consequatur neque odit quidem omnis pariatur impedit incidunt
                    dignissimos eligendi quasi ipsum asperiores molestias voluptates nam. Quos,
                    doloribus?
            
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam nisi,
                    quaerat consequatur neque odit quidem omnis pariatur impedit incidunt
                    dignissimos eligendi quasi ipsum asperiores molestias voluptates nam. Quos,
                    doloribus?</p>
            </div>

            <div class="col-md-1 hr-line">

                <hr class="aboutKOShr">

            </div>
            
            <div class="col-md-2 buttons">
            
                <button class="homeBTN">Take E-Tour</button>
            
            </div>

        </div>

    </div>

</div>