<div class="container-fluid">

    <div class="shades">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>CONFERENCE ROOM</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt odit nostrum corporis beatae modi natus itaque
                inventore voluptate, a optio, molestias neque aliquid
                soluta eum quaerat et, cupiditate quae expedita.</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt odit nostrum corporis beatae modi natus itaque
                inventore voluptate, a optio, molestias neque aliquid
                soluta eum quaerat et, cupiditate quae expedita.</p>

        </div>

        <div class="images">

            <h4>Images from the Conference Room</h4>

            <div class="row">

                <div class="col">
                    <img src="/assets/images/selected/hall/hall 1.jpg" alt="shade pic">
                </div>

                <div class="col">
                    <img src="/assets/images/selected/hall/hall 2.jpg" alt="shade pic">
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <img src="/assets/images/selected/hall/hall 3.jpg" alt="shade pic">
                </div>

                <div class="col">
                    <img src="/assets/images/selected/hall/hall 4.jpg" alt="shade pic">
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <img src="/assets/images/selected/hall/hall 5.jpg" alt="shade pic">
                </div>

                <!-- <div class="col">
                    <img src="/assets/images/selected/shades/shade 1.jpg" alt="shade pic">
                </div>
             -->
            </div>

        </div>

    </div>

</div>